@import '../../../styles/abstracts/mixins.module';
@import '../../../styles/abstracts/variable.module';

.container {
  width: 100%;
  hr {
    border: 0px solid $gray;
    margin-bottom: 5rem;
    @media screen and (max-width: 1200px) {
      margin-bottom: 2.5rem;
    }
  }
  .settingsContainer {
    height: 100%;
    .settings {
      // padding-top: 113px;
      padding-top: 8px;
      color: $white;
      text-align: left;
      @include font-6xl-neuropolitical-normal;
      font-size: 76px;
      line-height: 110%;
    }
  }
}

@media screen and (max-width: 736px) {
  .container {
    .settingsContainer {
      .settings {
        padding-top: 108px;
        font-size: 32px;
        line-height: 110%;
      }
    }
  }
}
.ourlyPerntAj {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    min-height: 286px;
    background: linear-gradient(180deg, rgba(16, 35, 36, 0) 0%, #102324 100%);
    z-index: 2;
    pointer-events: none;
    width: 100%;
  }
}

.pdingTop {
  padding-top: 132px;
}
.LncpadDtlUpCont {
  display: flex;
}
.rightContnt {
  margin-left: 60px;
  flex-basis: 75%;
  margin-top: -17px;
  h1 {
    font-family: 'Neuropolitical';
    font-style: normal;
    font-weight: 400;
    font-size: 76px;
    line-height: 110%;
    color: #ffffff;
    text-align: start;
    max-width: 775px;
    margin: 0 0 22px 0;
  }
  p {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #ffffff;
    text-align: start;
    max-width: 600px;
    margin: 0 0 35px 0;
  }
}
.flxBlleinnr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.upCont {
  display: flex;
  align-items: center;
  p {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #ffffff;
    margin: 0 0 0 10px;
  }
}
.MianPentBasisBox {
  padding: 40px 0;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #91a5a626;
  margin-bottom: 34px;
}
.CurrentBitBoxInrr {
  flex-basis: 20%;
  p {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #ffffff;
    margin: 0 0 5px 0;
    text-align: start;
  }
  h3 {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #ffffff;
    margin: 0 0 0 0;
  }
  .imgAdnHH {
    display: flex;
    align-items: center;
    > span {
      margin-right: 16px !important;
    }
  }
}
.onlyImgBox {
  flex-basis: 25%;
  > span {
    width: 100% !important;
    object-fit: cover;
  }
}
.progsContnt {
  flex-basis: 25%;
  .LinkPrnt {
    font-family: 'Neuropolitical';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 110%;
    color: #16e6ef;
    text-align: start;
    margin: 9px 0 0 0;
  }
}
.AllLinkFlex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  button {
    background: transparent;
    border: none;
    margin-right: 24px;
    position: relative;
    bottom: 0;
    transition: all 0.3s ease-out;
    &:hover {
      bottom: 5px;
    }
  }
  a {
    margin-right: 24px;
    position: relative;
    bottom: 0;
    transition: all 0.3s ease-out;
    &:hover {
      bottom: 5px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.progressBarContainer {
  margin-top: 0.5rem;
  .progressBarParent {
    background-color: gray;
    height: 0.3rem;
    .progressBarChild {
      background-color: $light-blue;
      height: 0.3rem;
      width: 70%;
    }
  }
}
.progsContntUp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 9px;
  h6 {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 110%;
    text-align: right;
    color: #ffffff;
    margin: 0;
  }
}

.StaylinkFrst {
  padding-top: 0px !important;
  padding-bottom: 20px !important;
  display: flex;
  text-align: start;
  a {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover {
      color: #16e6ef;
      > span {
        img {
          filter: invert(1%) sepia(162%) saturate(1057%) hue-rotate(143deg)
            brightness(100%) contrast(85%);
        }
      }
    }
    > span {
      margin-right: 7px !important;
    }
    @media screen and (max-width: 736px) {
      margin-bottom: 5px !important;
    }
  }
}

.SocialLinks {
  margin-right: 48px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .LncpadDtlUpCont {
    flex-direction: column;
  }
  .rightContnt {
    margin-left: 0;
    flex-basis: 100%;
    h1 {
      max-width: 100%;
    }
  }
  .onlyImgBox {
    flex-basis: 100%;
    order: 3;
    > span {
      margin-top: 12px !important;
    }
  }
  // .SocialLinks {
  //   margin-right: 18px;
  // }
  // .AllLinkFlex{
  //   button{
  //     margin-right: 14px;
  //   }
  //   a{
  //     margin-right: 14px;
  //   }
  // }
  .CurrentBitBoxInrr {
    p {
      font-size: 16px;
      line-height: 140%;
      margin: 0 0 5px 0;
    }
    h3 {
      font-weight: 400;
      font-size: 22px;
      line-height: 110%;
    }
    .imgAdnHH {
      > span {
        margin-right: 10px !important;
      }
    }
  }
}

@media screen and (max-width: 736px) {
  .pdingTop {
    padding-top: 100px;
  }
  .rightContnt {
    h1 {
      font-size: 32px;
      margin: 0 0 12px 0;
    }
    p {
      margin: 0 0 32px 0;
      font-size: 16px;
    }
  }
  .SocialLinks {
    margin-right: 18px;
  }
  .AllLinkFlex {
    button {
      margin-right: 12px;
    }
    a {
      margin-right: 12px;
    }
  }
  .upCont {
    p {
      margin-bottom: 0;
      font-size: 14px;
    }
  }
  .MianPentBasisBox {
    padding: 30px 0;
    flex-direction: column;
  }
  .CurrentBitBoxInrr {
    margin-bottom: 12px;
  }
}
