@import '../../../styles/abstracts/mixins.module';
@import '../../../styles/abstracts/variable.module';

.container {
  width: 100%;
  hr {
    border: 0px solid $gray;
    margin-bottom: 5rem;
    @media screen and (max-width: 1200px) {
      margin-bottom: 0rem;
    }
  }
  .settingsContainer {
    height: 100%;
    .settings {
      padding-top: 113px;
      color: $white;
      text-align: left;
      @include font-6xl-neuropolitical-normal;
      font-size: 76px;
      line-height: 110%;
    }
  }
}

@media screen and (max-width: 736px) {
  .container {
    .settingsContainer {
      .settings {
        padding-top: 108px;
        font-size: 32px;
        line-height: 110%;
      }
    }
  }
}
.AnyObjects {
  display: none;
  margin-right: 48px;
  .FilterButton {
    @include font-md-avenir-regular;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 0;
    background: transparent !important;
    border: none !important;
    padding: 0;
  }
}
@media screen and (max-width:1200px) {
  .AnyObjects {
    display: block;
  }
}
.FilterBox {
  position: fixed;
  bottom: -390px;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 30px;
  background: #1D3031;
  @include flex-start;
  align-items: self-start;
  height: 390px;
  box-shadow: 0 0 50px 0 rgb(0 0 0 / 0%);
  transition: all 0.2s ease-out;
  &.active {
    bottom: 0;
    box-shadow: 0 0 50px 0 rgb(0 0 0 / 47%);
  }
  .MobileDatpcker {
    display: flex;
    align-items: center;
    padding-left: 0;
    justify-content: center;
    width: 100%;
  }
  .RangePrnt {
    margin-top: 35px;
    span {
      min-width: 125px;
    }
  }
  .ExitButton {
    background: transparent;
    border: none;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
.tipandtotolmain{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
}
.buttonperntAj{
  display: flex;
  align-items: center;
 a {
  font-family: 'Neuropolitical';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  text-align: right;
  color: #16E6EF;
  text-decoration: none;
  transition: all 0.3s ease-out;
  @media screen and (max-width: 736px) {
    font-size: 16px;
  }
  &:hover {
    color: #fff;
  }
 }
}
.CustomGridContainer {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(4, minmax(0px, 1fr));
}
.boxinnrcont{
  position: relative;
  .apernt{
    text-decoration: none;
    display: flex;
    width: 100% !important;
    height: 372px;
    >span{
      width: 100% !important;
    }
    img{
      width: 100% !important;
      object-fit: cover;
    }
  }
}
.upCont{
  display: flex;
  align-items: center;
  position: absolute;
  top: 32px;
  left: 32px;
  z-index: 1;
  p{
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    margin: 0 0 0 10px;
  }
}
.downCont{
  position: absolute;
  bottom: 32px;
  left: 32px;
  right: 32px;
  z-index: 1;
  h3{
    font-family: 'Neuropolitical';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 110%;
    color: #FFFFFF;
    text-align: start;
    max-width: 218px;
    margin: 0 0 26px 0;
  }
  .flexPernt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .currentBit{
      text-align: start;
      h5{
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        color: #FFFFFF;
        margin: 0 0 12px 0;
      }
      .txtimgFlex{
        display: flex;
        align-items: center;
        p{
          font-family: 'Avenir';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 140%;
          color: #FFFFFF;
          margin: 0 0 0 12px;
        }
      }
    }
    .endingIn{
      p{
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        margin: 0 0 12px 0;
        color: #FFFFFF;
      }
      h3{
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        color: #FFFFFF;
        margin: 0;
      }
    }
  }
}
.TipsTulsOverlay {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    min-height: 255px;
    background: linear-gradient(180deg, rgba(12, 27, 34, 0) 0%, rgba(12, 27, 34, 0.9) 100%);
    z-index: 1;
    width: 100%;
    pointer-events: none;
  }
  // &::after{
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   top: 0;
  //   min-height: 117px;
  //   background: linear-gradient(180deg, rgba(12, 27, 34, 0) 0%, rgba(12, 27, 34, 0.9) 100%);
  //   transform: matrix(1, 0, 0, -1, 0, 0);
  //   // z-index: 1;
  //   width: 100%;
  // }
}
.scrollPernt{
  overflow-y: auto;
  height: 768px;
}
@media screen and (max-width:1200px) {
  .AnyObjects {
    display: block;
  }
  .select_main{
    display: none !important;
  }
  .CustomGridContainer {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
  }
  // .downCont{right: 10px; }
  .buttonperntAj{
    .marginPrnt{
      margin: 0 23px 0 48px;
    }
  }
 
}
@media screen and (max-width:736px) {
  .tipandtotolmain{
    padding-bottom: 32px !important;
  }
  .CustomGridContainer {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, minmax(0px, 1fr));
  }
}
// select_mainas



.VolumeImgGraff {
  width: 100%;
  >span {
    width: 100% !important;
  }
}


.AnalisisMainInnr {
  .VolumeAnalisisbrdr {
    border: 1px solid rgb(145 165 166 / 15%);
    padding: 28px 32px;
    align-items: flex-start;
    @include flex-start;
    flex-direction: column;
    width: 100%;
  }
  .FrstAnalis {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    .VolumeAnalisis {
      h6 {
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #91A5A6;
        margin-bottom: 6px;
      }
      h1 {
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 110%;
        color: #FFFFFF;
        margin-bottom: 12px;
      }
      .ImgTxt {
        display: flex;
        align-items: center;
        >span {
          margin-right: 8px !important;
        }
        p {
          font-family: 'Avenir';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 140%;
          color: #DB243A;
          margin-bottom: 0;
        }
        .BlueP {
          color: #16E6EF;
        }
      }
    }
  }
}
@media screen and (max-width: 1280px) {
  .AnalisisMainInnr {
    .VolumeAnalisisbrdr {
      padding: 18px 22px;
    }
    .FrstAnalis {
      grid-template-columns: repeat(3, minmax(0px, 1fr));
      .VolumeAnalisis {
        h1 {
          font-size: 44px;
        }
      }
      
    }
  }
}
@media screen and (max-width: 736px) {
  .AnalisisMainInnr {
    .FrstAnalis {
      grid-template-columns: repeat(1, minmax(0px, 1fr));
      .VolumeAnalisis {
        h1 {
          font-size: 44px;
        }
      }
      
    }
  }
}
.ScndAnalis {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(2, minmax(0px, 1fr));
  margin-top: 24px;
  .VolumePriceBox {
    h1 {
      font-family: 'Neuropolitical';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 110%;
      color: #FFFFFF;
      margin-bottom: 24px;
    }
    .SpcBtwnTwoP {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 30px;
      text-align: start;
      p {
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #FFFFFF;
        margin-bottom: 0;
      }
    }
    .VolumePriceTxtBx {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
    }
  }
}
.VolumePriceBoxRight {
  .VolumePriceTxtBxRight {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    .SpcBtwnTwoPRight {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 24px;
      h1 {
        font-family: 'Neuropolitical';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 110%;
        color: #FFFFFF;
        margin-bottom: 10px;
        text-align: start;
      }
    }
    p {
      font-family: 'Avenir';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: #FFFFFF;
      margin-bottom: 30px;
    }
  }
 }
@media screen and (max-width: 736px) {
  .ScndAnalis {
    grid-template-columns: repeat(1, minmax(0px, 1fr));
    .VolumePriceBox {
      h1 {
        font-size: 22px;
        margin-bottom: 14px;
      }
      .SpcBtwnTwoP {
        margin-bottom: 20px;
        p {
          font-size: 16px;
        }
      }
    }
  }
  .VolumePriceBoxRight {
    .VolumePriceTxtBxRight {
      .SpcBtwnTwoPRight {
        margin-bottom: 14px;
        h1 {
          font-size: 22px;
        }
      }
      p {
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
   }
}
.VolumePriceBoxBigGraff {
  margin-top: 24px;
}


.ListingOvrLay {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(16, 35, 36, 0) 0%, #102324 100%);
    pointer-events: none;
    z-index: 2;
    pointer-events: none;
  }
  .ListingOverflow {
    overflow-y: auto;
    height: 340px;
  }
}
.ListingOvrLaytwo {
  position: relative;
  &::before {
   display: none !important;
  }
  .ListingOverflow {
    overflow-y: auto;
    height: 340px;
  }
}
.ListingsSalesBox {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(2, minmax(0px, 1fr));
  margin-top: 24px;
  .ListingsBox {
    border: 1px solid #91a5a526;
    padding: 28px 32px 0 32px;
    .listingTxts {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 28px;
      h1 {
        font-family: 'Neuropolitical';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 110%;
        color: #FFFFFF;
        margin-bottom: 10px;
        span {
          color: rgba(145, 165, 166, 1);
          margin-left: 8px;
        }
      }
    }
    .ListingInrBx {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      .EndlessImgTxt {
        display: flex;
        align-items: center;
        .PastTxtsBx {
          margin-left: 20px;
          text-align: start;
          h1 {
            font-family: 'Avenir';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 110%;
            color: #FFFFFF;
            margin-bottom: 5px;
          }
          p {
            font-family: 'Avenir';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            color: #91A5A6;
            margin-bottom: 0;
          }
        }
      }
      .AtFloorRghtTxt {
        .Right24txt {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin-bottom: 6px;
          h3 {
            font-family: 'Avenir';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 140%;
            text-align: right;
            color: #FFFFFF;
            margin-bottom: 0px;
            margin-left: 12px;
          }
        }
        h4 {
          font-family: 'Avenir';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 140%;
          text-align: right;
          color: #FFFFFF;
          margin-bottom: 0;
        }
        .Blueh4 {
          color: #16E6EF;
        }
        .Redh4 {
          color: #DB243A;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .ListingsSalesBox {
    grid-template-columns: repeat(1, minmax(0px, 1fr));
  }
}

@media screen and (max-width: 736px) {
  .ListingsSalesBox {
    .ListingsBox {
      padding: 18px 22px 0 22px;
      .listingTxts {
        margin-bottom: 18px;
        h1 {
          font-size: 22px;
        }
      }
      .ListingInrBx {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        .EndlessImgTxt {
          .PastTxtsBx {
            margin-left: 10px;
            h1 {
              font-size: 14px;
            }
            p {
              font-size: 12px;
            }
          }
        }
        .AtFloorRghtTxt {
          .Right24txt {
            h3 {
              font-size: 14px;
              margin-left: 6px;
            }
          }
          h4 {
            font-size: 12px;
          }
        }
      }
    }
  }
}
.OffrListingBx {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  h5 {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 0;
    margin-left: 36px;
  }
  .OfferBxBfr {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 24px;
      height: 4px;
      background: #1D9BF0;
      top: 10px;
      left: 0px;
    }
    
  }
  .ListinggBxBfr {
    position: relative;
    margin-left: 32px;
    &::before {
      content: '';
      position: absolute;
      width: 24px;
      height: 4px;
      background: #16E6EF;
      top: 10px;
      left: 0px;
    }
  }
}

.ListingsSalesBox {
  .RightOwnerBox {
    padding: 28px 0 0 0 !important;
    .listingTxts {
      padding: 0 32px;
    }
    .MainOwnerRight {
      .HadOnwer {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0 32px;
        h4 {
          font-family: 'Avenir';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 140%;
          color: #91A5A6;
        }
      }
      .Frst5Prs {
        flex-basis: 8%;
        text-align: start;
      }
      .Frst33Prs {
        flex-basis: 38%;
        text-align: start;
        display: flex;
        align-items: center;
        >span {
          margin-right: 16px !important;
        }
      }
      .Frst32Prs {
        flex-basis: 18%;
        text-align: start;
      }
      .Frst15Prs {
        flex-basis: 18%;
        text-align: end;
      }
      .OwnerInnrTbl {
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(145 165 166 / 15%);
        margin-bottom: 16px;
        padding: 0 32px 14px 32px;
        h2 {
          font-family: 'Avenir';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 110%;
          color: #FFFFFF;
        }
      }
    }
  }
}


@media screen and (max-width: 736px) {
  
.ListingsSalesBox {
  .RightOwnerBox {
    .listingTxts {
      padding: 0 12px;
    }
    .MainOwnerRight {
      .HadOnwer {
        padding: 0 12px;
        h4 {
          font-size: 12px;
        }
      }
      .Frst33Prs {
        >span {
          margin-right: 6px !important;
          max-width: 30px !important;
        }
      }
      .OwnerInnrTbl {
        margin-bottom: 16px;
        padding: 0 12px 14px 12px;
        h2 {
          font-size: 12px;
        }
      }
    }
  }
}
}
