@import '../../../styles/abstracts/variable.module';

.container {
  background-color: $header-bg;
  padding: 1rem 0 1rem 0;
  width: 100%;
  padding-top: 5.75rem;
  padding-bottom: 3.75rem;

  .bannerHeading {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 500;
  }

  .bannerDescription {
    padding: 0px 3rem;

    .bannerText {
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.5rem;
      opacity: 0.6;
      max-width: 30rem;
      padding-bottom: 1.5rem;
    }

    .bannerBtn {
      width: 15rem;
      cursor: pointer;
    }
  }
}
