@import '../../../styles/abstracts/mixins.module';
@import '../../../styles/abstracts/variable.module';

.MainContact {
  min-height: 85vh;
  padding-top: 112px;
}
.WidthFull {
  width: 100%;
  hr {
    border: 0px solid $gray;
    margin-bottom: 5rem;
    @media screen and (max-width: 1200px) {
      margin-bottom: 2.5rem;
    }
  }
}
.MainTextHelp h1 {
  font-family: 'Neuropolitical';
  font-style: normal;
  font-weight: 400;
  font-size: 76px;
  line-height: 110%;
  text-align: start;
  color: #ffffff;
  margin-bottom: 60px;
}
.StaylinkFrst {
  padding-top: 0px !important;
  display: flex;
  text-align: start;
  a {
    font-size: 16px;
    line-height: 140%;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover {
      color: #16e6ef;
      > span {
        img {
          filter: invert(1%) sepia(162%) saturate(1057%) hue-rotate(143deg)
            brightness(100%) contrast(85%);
        }
      }
    }
    > span {
      margin-right: 7px !important;
    }
    @media screen and (max-width: 736px) {
      margin-bottom: 5px !important;
    }
  }
}

@media screen and (max-width: 736px) {
  .MainTextHelp h1 {
    margin-bottom: 35px;
    font-size: 32px;
    line-height: 110%;
  }
}
