@import '../../../styles/abstracts/variable.module';
@import '../../../styles/abstracts/mixins.module';

.btnOutlined {
  color: $light-blue;
  margin-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
  width: 45%;
  @include justify-center;
  @include align-center;
  background-color: transparent;
  @include font-lg-neuropolitical-normal;
  border: 1px solid $light-blue;
  .icon {
    padding-right: 1.5rem;
  }
}

.btn {
  background-color: $light-blue;
  color: $black;
  @include font-lg-neuropolitical-normal;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
  border: 1px solid $light-blue;
  width: 45%;
  margin-right: 2rem;
  @include justify-center;
  @include align-center;
  .icon {
    padding-right: 1.5rem;
  }
}
