@import '../../../styles/abstracts/mixins.module';
@import '../../../styles/abstracts/variable.module';

.backgroundImage {
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100%;
  transition: 1s ease;
  display: flex;
  flex-direction: column;
  @media (max-width: 1279px) {
    height: auto;
    min-height: auto;
  }
  .napaLoungeContainer {
    height: 100%;
    padding-right: 0;
    padding-bottom: 5rem;
    @media (max-width: 1279px) {
      padding-bottom: 15rem;
      padding-top: 2rem;
    }
    h1 {
      text-align: left;
    }
    .napa {
      @include font-6xl-neuropolitical-normal;
      text-align: left;
      -webkit-text-stroke: 2px $white;
      color: transparent;
      @media (max-width: 600px) {
        font-size: $text-3xl;
      }
    }
    .lounge {
      @include font-6xl-neuropolitical-normal;
      color: $white;
      @media (max-width: 600px) {
        font-size: $text-3xl;
      }
    }
    .leftSideContainer {
      --bs-gutter-x: 0rem;
      padding-top: 2rem;
      .boxes {
        border: 1px solid rgba(255, 255, 255, 0.15);
        cursor: pointer;
        text-align: left;
        padding: 2rem;
        padding-top: 8rem;
        @media (max-width: 600px) {
          padding-top: 2rem;
        }
        .description {
          color: $white;
          @include font-lg-neuropolitical-normal;
          @media (max-width: 600px) {
            font-size: 1.2rem;
          }
        }
      }
      .active {
        background-color: $light-blue;
        border: 1px solid transparent;
        .description {
          color: $black;
        }
      }
    }
  }

  .rightSideContainer {
    .arrowContainer {
      @media (max-width: 1199px) {
        margin: 15px 0;
      }
    }
  }

  .footerContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  @media (min-width: 1280px) {
    .napaLoungeContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        margin-bottom: 0em;
      }
      .napa {
        @include font-4xl-neuropolitical-normal;
        font-size: 3.5rem;
      }
      .lounge {
        @include font-4xl-neuropolitical-normal;
        font-size: 3.5rem;
      }
      .leftSideContainer {
        padding-top: 1rem;
        .boxes {
          padding: 1.5rem;
          height: 100%;
          justify-content: flex-end;
          display: flex;
          flex-direction: column;
          min-height: 8rem;
          .description {
            @include font-md-neuropolitical-normal;
          }
        }
      }
      .rightSideContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .buttonContainer {
          display: flex;
          justify-content: flex-end;
          padding-right: 6rem;
        }
        .arrowContainer {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          padding-right: 6.5rem;
          span {
            padding-right: 8rem !important;
            span {
              padding-right: 0 !important;
            }
            &:last-child {
              padding-right: 0 !important;
            }
          }
        }
      }
    }
  }
  @media (min-width: 1440px) {
    .napaLoungeContainer {
      .napa {
        @include font-5xl-neuropolitical-normal;
      }
      .lounge {
        @include font-5xl-neuropolitical-normal;
      }
      .leftSideContainer {
        padding-top: 2rem;
        .boxes {
          padding-top: 7.8rem;
          height: auto;
          .description {
            @include font-lg-neuropolitical-normal;
          }
        }
      }
      .rightSideContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        .sliderContainer {
          width: 100%;
        }
        .projectCardContainer {
          padding-left: 1rem;
          padding-right: 1rem;
          padding-top: 2.5rem;
        }
        .carouselContainer {
          background-color: red;
          height: 50%;
          width: 50%;
        }
        .buttonContainer {
          padding-right: 1rem;
          padding-bottom: 2rem;
        }
        .arrowContainer {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding-right: 1rem;
          .rightIcon {
            cursor: pointer;
            margin-left: 5rem;
          }
          .leftIcon {
            cursor: pointer;
          }
        }
      }
    }
  }
  @media (min-width: 1536px) {
    .napaLoungeContainer {
      padding-top: 0;
      padding-bottom: 6rem;
      .napa {
        @include font-6xl-neuropolitical-normal;
      }
      .lounge {
        @include font-6xl-neuropolitical-normal;
      }
      .leftSideContainer {
        padding-top: 2rem;
        .boxes {
          padding-top: 8rem;
          .description {
            @include font-lg-neuropolitical-normal;
          }
        }
      }
      .rightSideContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        .sliderContainer {
          width: 100%;
          padding-left: 4rem;
        }
        .projectCardContainer {
          padding-left: 1rem;
          padding-right: 1rem;
          padding-top: 2.5rem;
        }
        .carouselContainer {
          height: 50%;
          width: 50%;
        }
        .buttonContainer {
          padding-right: 8.5rem;
        }
        .arrowContainer {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding-right: 8.5rem;
          .rightIcon {
            cursor: pointer;
            margin-left: 5rem;
          }
          .leftIcon {
            cursor: pointer;
          }
        }
      }
    }
  }
  @media (min-width: 2560px) {
    .napaLoungeContainer {
      padding-top: 4rem;
      .napa {
        @include font-8xl-neuropolitical-normal;
      }
      .lounge {
        @include font-8xl-neuropolitical-normal;
      }
      .leftSideContainer {
        padding-top: 3rem;
        .boxes {
          padding-top: 13rem;
          .description {
            @include font-2xl-neuropolitical-normal;
          }
        }
      }
      .rightSideContainer {
        .buttonContainer {
          padding-right: 12rem;
        }
        .arrowContainer {
          padding-right: 12rem;
          .rightIcon {
            cursor: pointer;
            margin-left: 8rem;
          }
        }
      }
    }
  }
}
