@import '../../../styles/abstracts/mixins.module';
@import '../../../styles/abstracts/variable.module';

.container {
  width: 100%;
  hr {
    border: 0px solid $gray;
    margin-bottom: 5rem;
    @media screen and (max-width: 1200px) {
      margin-bottom: 2.5rem;
    }
  }
  .settingsContainer {
    height: 100%;
    .settings {
      color: $white;
      text-align: left;
      @include font-6xl-neuropolitical-normal;
      font-size: 76px;
      line-height: 110%;
      margin-bottom: 25px;
    }
  }
}

@media screen and (max-width: 736px) {
  .container {
    .settingsContainer {
      .settings {
        padding-top: 108px;
        font-size: 32px;
        line-height: 110%;
      }
    }
  }
}
.ourlyPerntAj{
  position: relative;
  &::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    min-height: 286px;
    background: linear-gradient(180deg, rgba(16, 35, 36, 0) 0%, #102324 100%);
    z-index: 2;
    width: 100%;
  }
}
.ValuaterMain {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 113px;
  a {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-align: right;
    color: #ffffff80;
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    margin-bottom: 12px;
    text-decoration: none;
    margin-bottom: 25px;
  }
}

