@import '../../../styles/abstracts/mixins.module';
@import '../../../styles/abstracts/variable.module';

.container {
  width: 100%;
  hr {
    border: 0px solid $gray;
    margin-bottom: 5rem;
    @media screen and (max-width: 1200px) {
      margin-bottom: 0rem;
    }
  }
  .settingsContainer {
    height: 100%;
    .settings {
      padding-top: 113px;
      color: $white;
      text-align: left;
      @include font-6xl-neuropolitical-normal;
      font-size: 76px;
      line-height: 110%;
    }
  }
}

@media screen and (max-width: 736px) {
  .container {
    .settingsContainer {
      .settings {
        padding-top: 108px;
        font-size: 32px;
        line-height: 110%;
      }
    }
  }
}
.AnyObjects {
  display: none;
  margin-right: 48px;
  .FilterButton {
    @include font-md-avenir-regular;
    font-size: 18px;
    line-height: 140%;
    color: #ffffff;
    margin-bottom: 0;
    background: transparent !important;
    border: none !important;
    padding: 0;
  }
}
@media screen and (max-width: 1200px) {
  .AnyObjects {
    display: block;
  }
}
.FilterBox {
  position: fixed;
  bottom: -390px;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 30px;
  background: #1d3031;
  @include flex-start;
  align-items: self-start;
  height: 390px;
  box-shadow: 0 0 50px 0 rgb(0 0 0 / 0%);
  transition: all 0.2s ease-out;
  &.active {
    bottom: 0;
    box-shadow: 0 0 50px 0 rgb(0 0 0 / 47%);
  }
  .MobileDatpcker {
    display: flex;
    align-items: center;
    padding-left: 0;
    justify-content: center;
    width: 100%;
  }
  .RangePrnt {
    margin-top: 35px;
    span {
      min-width: 125px;
    }
  }
  .ExitButton {
    background: transparent;
    border: none;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
.tipandtotolmain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
}
.buttonperntAj {
  display: flex;
  align-items: center;
  position: relative;
  button {
    background: transparent;
    border: none;
    padding: 0;
    height: auto;
  }
  .marginPrnt {
    margin: 0 23px 0 60px;
  }
}
.CustomGridContainer {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(4, minmax(0px, 1fr));
}
.boxinnrcont {
  position: relative;
  .apernt {
    text-decoration: none;
    display: flex;
    width: 100% !important;
    height: 372px;
    > span {
      width: 100% !important;
    }
    img {
      width: 100% !important;
      object-fit: cover;
    }
  }
}
.upCont {
  display: flex;
  align-items: center;
  position: absolute;
  top: 32px;
  left: 32px;
  z-index: 1;
  p {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #ffffff;
    margin: 0 0 0 10px;
  }
}
.downCont {
  position: absolute;
  bottom: 32px;
  left: 32px;
  right: 32px;
  z-index: 1;
  h3 {
    font-family: 'Neuropolitical';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 110%;
    color: #ffffff;
    text-align: start;
    max-width: 218px;
    margin: 0 0 26px 0;
  }
  .flexPernt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .currentBit {
      text-align: start;
      h5 {
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        color: #ffffff;
        margin: 0 0 12px 0;
      }
      .txtimgFlex {
        display: flex;
        align-items: center;
        p {
          font-family: 'Avenir';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 140%;
          color: #ffffff;
          margin: 0 0 0 12px;
        }
      }
    }
    .endingIn {
      p {
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        margin: 0 0 12px 0;
        color: #ffffff;
      }
      h3 {
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        color: #ffffff;
        margin: 0;
      }
    }
  }
}
.TipsTulsOverlay {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    min-height: 255px;
    background: linear-gradient(
      180deg,
      rgba(12, 27, 34, 0) 0%,
      rgba(12, 27, 34, 0.9) 100%
    );
    z-index: 1;
    width: 100%;
  }
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    min-height: 117px;
    background: linear-gradient(
      180deg,
      rgba(12, 27, 34, 0) 0%,
      rgba(12, 27, 34, 0.9) 100%
    );
    transform: matrix(1, 0, 0, -1, 0, 0);
    // z-index: 1;
    width: 100%;
  }
}
.scrollPernt {
  overflow-y: auto;
  height: 768px;
}
@media screen and (max-width: 1200px) {
  .AnyObjects {
    display: block;
  }
  .select_main {
    display: none !important;
  }
  .CustomGridContainer {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
  }
  // .downCont{right: 10px; }
  .buttonperntAj {
    .marginPrnt {
      margin: 0 23px 0 48px;
    }
  }
}
@media screen and (max-width: 736px) {
  .tipandtotolmain {
    padding-bottom: 32px !important;
  }
  .CustomGridContainer {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, minmax(0px, 1fr));
  }
}
// select_mainas

.buttonperntAj {
  .PstnBtnEnter {
    margin-right: 40px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-out;
    &.Active {
      opacity: 1;
      pointer-events: visible;
      border: 1px solid #354647b5;
      border-radius: 4px;
      padding: 2px 0px 2px 4px;
    }
  }
  input {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #ffffff80;
    text-decoration: none;
    width: 100%;
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    margin-right: 80px;
  }
}

.ScrollPstn {
  height: 320px;
  overflow-y: auto;
  position: absolute;
  z-index: 9;
  top: 45px;
  left: 0;
  max-width: 342px;
  width: 100%;
  opacity: 0;
  &.Active {
    opacity: 1;
  }
}
.PositionProject {
  // position: relative;
  // &::before {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   bottom: 0px;
  //   min-height: 286px;
  //   background: linear-gradient(180deg, rgba(16, 35, 36, 0) 80%, #102324 100%);
  //   z-index: 2;
  //   width: 100%;
  //   pointer-events: none;
  // }
  .ProjectPsnIn {
    background: rgba(29, 48, 49, 0.7);
    backdrop-filter: blur(20px);
    padding: 00px 24px 0 24px;
    .UpScPstn {
      p {
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #ffffff80;
        text-align: start;
        margin-bottom: 0;
        padding-top: 20px;
      }
    }
  }
  .FuturisticFierceBx {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 12px;
    .FuturisticFsrst {
      display: flex;
      align-items: center;
      .FuturisticText {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        text-align: start;
        margin-left: 12px;
        h6 {
          font-family: 'Avenir';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 110%;
          color: #ffffff;
          span {
            color: #ffffff80;
            margin-left: 5px;
          }
          margin-bottom: 5px;
          text-align: start;
        }
        p {
          font-family: 'Avenir';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 140%;
          color: #ffffff80;
          text-align: start;
          margin-bottom: 0;
        }
      }
    }
    .Last24Text {
      display: flex;
      align-items: flex-start;
      h5 {
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        color: #ffffff;
        margin-left: 12px;
      }
    }
  }
}
@media screen and (max-width: 1280px) {
  .buttonperntAj {
    .PstnBtnEnter {
      margin-right: 0px;
    }
  }
}

@media screen and (max-width: 575px) {
  .AnyObjects {
    margin-right: 12px;
  }
  .buttonperntAj {
    .PstnBtnEnter {
      margin-right: 12px;
    }
    input {
      font-size: 12px;
      margin-right: 20px;
    }
  }
  .buttonperntAj {
    .marginPrnt {
      margin: 0 14px 0 14px;
    }
  }
  .ScrollPstn {
    right: 1%;
  }
}

.tipandtotolmain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
  @media screen and (max-width: 1200px) {
    padding-bottom: 20px;
  }
}

.MainListHead {
  margin-bottom: 18px;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0 30px 0 0;
  .HeadLabel {
    @include font-md-avenir-regular;
    font-size: 14px;
    line-height: 140%;
    text-align: right;
    color: #91a5a6;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .LabelOne {
    flex-basis: 22%;
    justify-content: flex-start;
  }
  .LabelTwo,
  .LabelThree,
  .LabelFour,
  .LabelFive,
  .LabelSix,
  .LabelSeven {
    flex-basis: 13%;
  }
  .Labeleeight {
    flex-basis: 5%;
  }
}
// .MainListList {}
.MainListListInn {
  display: flex;
  width: 100%;
  align-items: center;
  color: #fff;
  margin-bottom: 2px;
  background: rgb(145 165 166 / 10%);
  padding-right: 30px;
  .RowLabel {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    h6 {
      @include font-md-avenir-medium;
      font-size: 18px;
      line-height: 140%;
      color: #ffffff;
      display: flex;
      align-items: center;
      margin-bottom: 0;
    }
    h5 {
      margin-bottom: 0;
    }
    .RspnsvListtext {
      .TxtH3 {
        h3 {
          @include font-md-avenir-medium;
          font-size: 18px;
          line-height: 140%;
          color: #ffffff;
          display: flex;
          align-items: center;
          min-width: 164px;
          margin-bottom: 0;
          span {
            display: none;
          }
        }
      }
    }
    .RspnsvIcnSpn {
      display: flex;
      align-items: center;
      > span {
        margin-right: 8px !important;
      }
      .BlueH6 {
        color: #16e6ef;
        font-size: 18px;
        line-height: 140%;
        @include font-md-avenir-medium;
        margin-bottom: 0;
      }
    }
  }
  .RowOne {
    flex-basis: 22%;
    justify-content: flex-start;
    > span {
      margin-right: 30px !important ;
      min-width: 76px;
    }
  }
  .RowFive {
    flex-basis: 13%;
    > span {
      margin-right: 8px !important;
    }
  }
  .RowSeven {
    flex-basis: 5%;
    text-align: start !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .RowTwo,
  .RowThree,
  .RowFour,
  .RowSix {
    flex-basis: 13%;
    > span {
      margin-right: 8px !important;
    }
  }
  .RowSix {
    > span {
      margin-right: 8px !important;
    }
    color: #16e6ef;
  }
  .RspnsvEarn {
    display: none;
  }
  .Rspnsvh4 {
    display: none;
  }
}

.RowLabel {
  .peraAj {
    margin: 0;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    text-align: right;
    color: #91a5a6;
  }
  .colorPernt {
    color: #16e6ef !important;
  }
  .colorPerntRed {
    color: #db243a !important;
  }
}

@media screen and (max-width: 1024px) {
  .MainListBox {
    height: calc(100vh - 486px);
    overflow-y: scroll;
  }
}

@media screen and (max-width: 1280px) {
  .MainListBox {
    .MainListHead {
      display: none;
    }
    .MainListListInn {
      position: relative;
      flex-wrap: wrap;
      padding: 40px;
      .RowLabel {
        justify-content: flex-start;
        flex-basis: 16.5%;
        margin-top: 36px;
        .RspnsvIcnSpn {
          display: flex;
          align-items: center;
          > span {
            margin-right: 8px !important;
          }
        }
        .RspnsvListtext {
          .TxtH3 {
            h3 {
              margin-bottom: 4px;
            }
          }
        }
      }

      .RowOne {
        flex-basis: 100% !important;
        margin-top: 0px;
        > span {
          margin-right: 26px !important ;
        }
      }
      .RowSix {
        display: none;
      }
      .RspnsvEarn {
        display: block;
      }
      .Rspnsvh4 {
        display: block;
        h4 {
          @include font-md-avenir-regular;
          font-size: 14px;
          line-height: 140%;
          color: #91a5a6;
          margin-bottom: 0;
        }
      }
      .RowTwo,
      .RowThree,
      .RowFour,
      .RowFive {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
      .RowSeven {
        display: none;
        button {
          position: absolute;
          top: 66px;
          right: 0;
        }
        margin-top: 0;
      }
      .RspnsvEarn {
        display: none;
        > span {
          margin-right: 8px !important;
        }
        color: #16e6ef;
      }
    }
    .DefSpan {
      font-size: 14px;
      line-height: 140%;
      color: #91a5a6;
      @include font-md-avenir-regular;
      margin-left: 12px;
    }
  }
  .MainListList {
    margin-top: 20px;
  }
  .RowLabelprnt_aj {
    align-items: flex-start !important;
  }
}

@media screen and (max-width: 736px) {
  .MainListList {
    margin: 0 -40px;
    padding: 0 20px;
  }
  .MainListListInn {
    padding: 32px 20px 26px 20px !important;
    .RowLabel {
      justify-content: flex-start;
      flex-basis: 50% !important;
      margin-top: 26px !important;
      h6 {
        font-size: 16px !important;
      }
    }
    .RowOne {
      > span {
        margin-right: 20px !important ;
      }
      margin-top: 0 !important;
    }
    .RowSeven {
      margin-top: 0 !important;
    }
  }
  .RspnsvListtext {
    .TxtH3 {
      h3 {
        font-size: 16px;
      }
    }
  }
  .Rspnsvh4 {
    h4 {
      font-size: 12px !important;
    }
  }
}

.Rspnsvh4 {
  > span {
    display: none;
  }
}
@media screen and (max-width: 1280px) {
  .RowFour > span {
    display: none !important;
  }
  .Rspnsvh4v2 {
    display: flex !important;
    > span {
      margin-right: 8px !important;
    }
  }
  .Rspnsvh4 {
    margin-bottom: 5px;
  }
  .RspnsvListtext {
    .TxtH3 {
      h3 {
        span {
          display: flex !important;
        }
      }
    }
  }
}
.MainListShdo {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    // background: linear-gradient(to bottom, transparent 35%,rgba(12, 27, 34, 0.9) 100%);
    background: linear-gradient(180deg, rgba(16, 35, 36, 0) 0%, #102324 100%);
    pointer-events: none;
    z-index: 2;
    @media screen and (max-width: 736px) {
      position: inherit !important;
    }
  }
}
.MainListList {
  overflow-y: auto;
  height: 368px;
}
@media screen and (max-width: 1280px) {
  .MainListList {
    height: 100%;
  }
}
