@import '../../../styles/abstracts/mixins.module';
@import '../../../styles/abstracts/variable.module';

.LdrbrdItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(145, 165, 166, 0.1);
  margin-top: 2px;
}
.LdrbrdItemsRaigt {
  display: flex;
  align-items: center;
  h4 {
    @include font-md-avenir-medium;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #ffffff;
    width: 85px;
    margin-bottom: 0;
  }
  p {
    @include font-md-avenir-medium;
    font-size: 18px;
    line-height: 140%;
    color: #ffffff;
    margin-left: 32px !important;
    margin-bottom: 0;
  }
}
.LdrbrdItemsLeft {
  padding-right: 23px;
  h6 {
    @include font-md-avenir-medium;
    font-size: 24px;
    line-height: 140%;
    text-align: right;
    color: #16e6ef;
    margin-bottom: 0;
  }
}
