@import '../../../styles/abstracts/mixins.module';
@import '../../../styles/abstracts/variable.module';

@font-face {
  font-family: Neuropolitical;
  src: url('/assets/fonts/Neuropolitical/Neuropolitical-Regular.ttf');
}

@font-face {
  font-family: Avenir;
  src: url('/assets/fonts/Avenir/Avenir-Regular.ttf');
}

.backgroundImage {
  background-image: url('/assets/images/napasociety-background.png');
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  .societyContainer {
    height: 100%;
  }
  .societyContainerBody {
    height: 100%;
    @include flex-row-between;
  }
  .headingNapa {
    @include font-8xl-neuropolitical-normal;
    color: transparent;
    -webkit-text-stroke: 2px $white;
    animation: glow 1s ease-in-out infinite alternate;
    line-height: 1.1em;
    margin-bottom: 0.3em;
    margin-top: 0.4em;
  }
  @keyframes glow {
    from {
      text-shadow: 0 0 20px #fff, 0 0 30px, 0 0 40px, 0 0 50px, 0 0 60px,
        0 0 70px, 0 0 10px;
    }
    to {
      text-shadow: 0 0 1px #fff, 0 0 20px #ffffff, 0 0 30px, 0 0 40px, 0 0 50px,
        0 0 60px, 0 0 100px;
    }
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 20px #fff, 0 0 30px, 0 0 40px, 0 0 50px, 0 0 60px,
        0 0 70px, 0 0 10px;
    }
    to {
      text-shadow: 0 0 1px #fff, 0 0 20px #ffffff, 0 0 30px, 0 0 40px, 0 0 50px,
        0 0 60px, 0 0 100px;
    }
  }
  .societyLeftDescription {
    text-align: left;
    padding-right: 20rem;
    padding-left: 0.5rem;
    padding-top: 0.7rem;
    color: $white;
    @include font-base-avenir-regular;
    max-width: 49rem;
    font-size: 18px;
  }
  .headingSlider {
    @include font-9xl-neuropolitical-normal;
    margin-bottom: 0.1rem;
    color: transparent;
    -webkit-text-stroke: 2px $white;
    line-height: 1.1em;
    text-align: center;
    @include flex-column-center;
  }
  .sliderText {
    @include flex-row-center;
    @include align-center;
  }
  .sliderCounterText {
    @include font-7xl-neuropolitical-normal;
    padding-left: 0rem;
    padding-right: 0.5rem;
    color: $white;
    line-height: 2.1rem;
    margin-bottom: 0;
    margin-top: 13.4rem;
  }
  .sliderSlashtext {

    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: $white;
    margin-bottom: 0;
    -webkit-text-stroke: 1px #fff;
    font-size: 2.8rem;
    font-family: Neuropolitical;
    position: relative;
    bottom: -27px;
    color: transparent;
    margin-top: 13.4rem;
  }
  .sliderArrows{
    display: flex;
    width: 60px;
    justify-content: space-between;
    margin-top: 54px;
    margin-top: 15.4rem;
  }
  .sliderArrows div img{
    opacity: 0.7;
  }
  .sliderArrows div:hover img{
    opacity: 1;
  }
 
  .slideImages {
    margin-bottom: 2rem;
    img {
      width: 470px;
      height: 344px;
      object-fit: cover;
      object-position: -610px center;
  }
}
  .sliderContainer {
    padding-bottom: 1rem;
    @include flex-row-between;
  }
  .innerSocietyContainer {
    width: 70%;
    @include flex-column-start;
    margin-top: -25px;
  }
  .headingSociety {
    @include font-8xl-neuropolitical-normal;
    line-height: 1rem;
    color: $white;
    margin-bottom: 0.5em;
  }

  .community {
    @include font-3xl-neuropolitical-normal;
    color: $white;
    padding-bottom: 1.2rem;
  }

  .innerSocietyContainerRightSide {
    width: 45%;
    text-align: left;
    .description {
      @include font-md-avenir-regular;
      color: $white;
    }
    .joinSociety {
      cursor: pointer;
    }
  }
  .joinSocietyBtn {
    @include font-lg-neuropolitical-normal;
    color: $light-blue;
    background-color: transparent;
    border: 1px solid transparent;
    margin-right: 1.5rem;
    cursor: pointer;
  }
  .mousePointer {
    display: flex;
    justify-content: center;
    img {
      cursor: pointer;
    }
  }
  .trend_row{
    ul{
      display: inline-block;
      list-style: none;
      padding: 0;
      li{
        width:100%;
        float: left;
        margin-bottom: 15px;
        display: flex;
        div{
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        img{
          width: 80px;
          height: 80px;
          float: left;
          margin-right: 20px;
        }
        p{
          font-size: 12px;
          color:#fff;
          margin-bottom: 5px;
        }
        h4{
          @include font-lg-neuropolitical-normal;
          font-size: 18px;
          color:#fff;
          line-height: 1em;
        }
      }
    }
  }
  .leaders_row{
    ul{
      display: inline-block;
      list-style: none;
      padding: 0;
      li{
        width:100%;
        float: left;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        img{
          width: 80px;
          height: 80px;
          float: left;
          margin-right: 20px;
        }
        div{
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
        }
        p{
          @include font-sm-neuropolitical-normal;
          font-size: 24px;
          -webkit-text-stroke: 1px #fff;
          margin-bottom: 0px;
          color:transparent;
          display: flex;
          justify-content: space-between;
          strong{
            margin-left: 40px;
            font-weight: normal;
              i {
                  color: #16E6EF;
                  -webkit-text-stroke: 0;
                  font-style: normal;
                  font-size: 24px;
              }
              u {
                font-size: 12px;
                -webkit-text-stroke: 0;
                color: #fff;
                text-decoration: none;
                font-weight: 100;
                font-family: Avenir;
            }
          }

        }
        h4{
          @include font-lg-neuropolitical-normal;
          font-size: 18px;
          color:#fff;
          line-height: 1em;
        }
      }
    }
  }
  @media only screen and (max-width: 1536px) {
    .headingNapa {
      @include font-8xl-neuropolitical-normal;
      margin-bottom: 0;
    }
    .headingSociety {
        @include font-8xl-neuropolitical-normal;
        margin-bottom: 0;
    }
    .innerSocietyContainer {

      margin-top: 37px;
    }
    .sliderCounterText {
      @include font-6xl-neuropolitical-normal;
    }
    .community {
      @include font-2xl-neuropolitical-normal;
    }
    .sliderContainer {
      padding-bottom: 0.5rem;
    }
    .sliderSlashtext {
      bottom: -13px;
    }
  }
  @media only screen and (max-width: 1340px) {
    .headingNapa {
      @include font-7xl-neuropolitical-normal;
      margin-bottom: 0;
    }
    .headingSociety {
        @include font-6xl-neuropolitical-normal;
        margin-bottom: 0;
    }
    .sliderCounterText {
      @include font-5xl-neuropolitical-normal;
    }
    .sliderSlashtext {
      font-size: 2rem;
      bottom: -17px;
    }
    .sliderContainer {
      padding-bottom: 1rem;
    }
    .societyLeftDescription {
      
      padding-right: 7rem;
    }
    .leaders_row,.trend_row{
       ul li img{
        width: 60px;
        height: 60px;
       }
    }
    .slideImages {
      margin-bottom: 2rem;
      img {
        width: 470px;
        height: 344px;
      }
    }
  }
  
  @media only screen and (max-width: 1024px) {
    background-image: url('/assets/images/napsociety-background-tablet.png');
    .societyContainer {
      @include flex-column-center;

      .societyContainerBody {
        width: 100%;
        @include flex-column-center;

        .headingNapa {
          margin-bottom: 0;
          @include font-5xl-neuropolitical-normal;
          text-align: left;
          width: 100%;
        }
        .headingSociety {
          margin-bottom: 0;
          @include font-5xl-neuropolitical-normal;
          line-height: 80%;
          text-align: left;
          width: 100%;
        }
        .societyLeftDescription {
          padding-right: 6rem;
          padding-top: 1rem;
          padding-left: 0.3rem;
          max-width: 580px;
        }
      }
      .innerSocietyContainer {
        width: 100%;
      }

      .innerSocietyContainerRightSide {
        width: 100%;
        @include flex-col;

        .slider {
          @include flex-between;
          width: 100%;
          .sliderRightSide {
            padding-top: 0rem;
            width: 100%;
            .sliderContainer {
              @include flex-row;
              padding-bottom: 0;
              padding-top: 0rem;
              width: 100%;
              justify-content: space-between;
            }
            .community {
              padding-top: 1.5rem;
            }
          }
        }
      }
    }
    .mousePointer {
      display: none;
    }
    .slideImages {
        margin-bottom: 2rem;
        img {
          width: 100%;
          height: 185px;
          object-position:  center;
      }
    }
    .leaders_row,.trend_row{
      li{
        width: 50% !important;
        padding-right: 30px;
       
      }
    }
    .leaders_row ul li p strong{
      font-size: 20px !important;
    }
    
  }
  @media only screen and (max-width: 768px) {
    .societyContainer {
      .societyContainerBody {
        .headingNapa {
          margin-bottom: 0;
          @include font-4xl-neuropolitical-normal;
          text-align: left;
          width: 100%;
        }
        .innerSocietyContainerRightSide {
          .slider {
            .headingSlider {
              @include font-5xl-neuropolitical-normal;
            }
            .sliderRightSide {
              padding-top: 0.5rem;

              .sliderContainer {
                
                img {
                  width: 0.6rem;
                }
              }
            }
            .community {
              padding-top: 0.5rem;
              padding-bottom: 0;
              @include font-3xl-neuropolitical-normal;
            }
          }
        }
        .headingSociety {
          margin-bottom: 0;
          @include font-4xl-neuropolitical-normal;
          text-align: left;
          width: 100%;
        }
        .societyLeftDescription {
          padding-top: 1rem;
          padding-right: 0rem !important;
        }
      }
    }
    .trend_row,.leaders_row{ 
      li{
        width: 50%;
      }
    }
   
}
@media only screen and (max-width: 767px) {
  .sliderCounterText {
    @include font-3xl-neuropolitical-normal;
  }
  .sliderSlashtext {
    font-size: 1.5rem;    bottom: -5px;
  }
  .sliderArrows{
    margin-top: 24px;
  }
  .societyContainer {

    .societyContainerBody {

      .headingNapa {
        @include font-3xl-neuropolitical-normal;
      }
      .headingSociety {
        @include font-3xl-neuropolitical-normal;
      }
    }
  }
  .leaders_row,.trend_row{
    ul li{
      img{
        width:50px;
        height: 50px;
      }
    }
  }
  .societyContainer {
    .societyContainerBody {
      .innerSocietyContainerRightSide {
        .slider {
          .headingSlider {
            @include font-4xl-neuropolitical-normal;
          }
          
          .community {
            @include font-2xl-neuropolitical-normal;
            font-size: 1.5rem;
          }
        }
      } 
    }
  }
  .leaders_row,.trend_row{
    ul li {
      h4{
        font-size: 16px;;
      }
    }
  }
}
  @media only screen and (max-width: 740px) {
  .leaders_row,.trend_row{
    ul{
      padding: 0;
    li{
      width: 100% !important;
      padding-right: 0px;
     
    }
  }
  }
}
  @media only screen and (max-width: 576px) {
    background-image: url(('/assets/images/napasociety-background-mobile.png'));
    .societyContainer {
      .societyContainerBody {
        .headingNapa {
          @include font-3xl-neuropolitical-normal;
        }
        .headingSociety {
          @include font-3xl-neuropolitical-normal;
        }
        .innerSocietyContainerRightSide {
          .slider {
            .headingSlider {
              @include font-5xl-neuropolitical-normal;
            }
            .sliderRightSide {
              padding-top: 0rem;

              .sliderContainer {
               
                img {
                  width: 0.6rem;
                }
              }
            }
            .community {
              padding-top: 0.5rem;
              padding-bottom: 0;
              @include font-2xl-neuropolitical-normal;
            }
          }
        }
      }
    }
    .leaders_row,.trend_row{
      ul li {
        h4{
          font-size: 15px;;
        }
      }
    }
  }
  @media only screen and (max-width: 440px) {
    .societyContainer {
      .societyContainerBody {
        .headingNapa {
          @include font-2xl-neuropolitical-normal;
        }
        .headingSociety {
          @include font-2xl-neuropolitical-normal;
        }

        .societyLeftDescription {
          padding-right: 6rem;
          padding-top: 1rem;
          @include font-sm-avenir-regular;
        }
        .innerSocietyContainerRightSide {
          .slider {
            .community {
              @include font-lg-neuropolitical-normal;
              padding-bottom: 0;
              padding-top: 0.2rem;
            }
          }
        }
      }
    }
   
  }
  @media only screen and (max-width: 340px) {
    .societyContainer {
      .societyContainerBody {
        .innerSocietyContainerRightSide {
          .slider {
            .headingSlider {
              @include font-4xl-neuropolitical-normal;
            }
           
            .community {
              @include font-md-neuropolitical-normal;
              padding-bottom: 0;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 280px) {
    .societyContainer {
      .societyContainerBody {
        .innerSocietyContainerRightSide {
          .slider {
            .headingSlider {
              @include font-3xl-neuropolitical-normal;
            }
            
            .community {
              @include font-base-neuropolitical-normal;
              padding-bottom: 0;
            }
          }
        }
      }
    }
  }
}