@import '../../../styles/abstracts/mixins.module';
@import '../../../styles/abstracts/variable.module';

.container {
  width: 100%;
  hr {
    border: 0px solid $gray;
    margin-bottom: 5rem;
    @media screen and (max-width: 1200px) {
      margin-bottom: 0rem;
    }
  }
  .settingsContainer {
    height: 100%;
    .settings {
      padding-top: 220px;
      color: $white;
      text-align: left;
      @include font-6xl-neuropolitical-normal;
      font-size: 76px;
      line-height: 110%;
    }
  }
}

@media screen and (max-width: 736px) {
  .container {
    .settingsContainer {
      .settings {
        padding-top: 108px;
        font-size: 32px;
        line-height: 110%;
      }
    }
  }
}

.LaunchPadMain {
  padding-top: 110px;
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 230px;
  .LeftLaunchPad {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: start;
    flex-basis: 50%;
    z-index: 9;
  }
  .LaunchPadDeflt {
    font-family: 'Neuropolitical';
    font-style: normal;
    font-weight: 400;
    font-size: 76px;
    line-height: 110%;
    color: #FFFFFF;
    margin-bottom: 22px;
    text-align: start;
  }
  p {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 36px;
    max-width: 660px;
    text-align: start;
  }
}
.FrstBtn {
  font-family: 'Neuropolitical';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 110%;
  color: #16E6EF;
  background: transparent;
  display: flex;
  border: none;
  align-items: center;
  >span {
    margin-left: 24px !important;
    position: relative;
    left: 0;
    transition: all 0.3s ease-out;
  }
  &:hover {
    >span {
      left: 8px;
    }
  }
}

.Deflt_h5 {
  font-family: 'Neuropolitical';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 110%;
  color: #FFFFFF;
  margin-bottom: 24px;
  text-align: start;
}