@import '../../../styles/abstracts/variable.module';
@import '../../../styles/abstracts/mixins.module';

.innerContainer {
  @include flex-between;
  @include align-center;
  padding-top: 3rem;

  .logo {
    width: 10.563rem;
    height: 6rem;
  }
  .rightSide {
    padding-left: 8rem;
    justify-content: space-evenly;
  }
}
