@import '../../../styles/abstracts/variable.module';
@import '../../../styles/abstracts/mixins.module';

.container {
  background-color: $header-bg;
  padding: 1rem 0 1rem 0;
  width: 100%;
  .innerContainer {
    @include flex-between;
    @include align-center;
  }
  .logo {
    padding-right: 5rem;
  }
  .rightSide {
    padding-left: 8rem;
    justify-content: space-evenly;
  }
}
