@import '../../../styles/abstracts/mixins.module';
@import '../../../styles/abstracts/variable.module';

.tabBtn {
  margin-right: 3rem;
  background-color: transparent;
  @include font-base-avenir-regular;
  color: $white;
  cursor: pointer;
  border: none;
}

.active {
  border-bottom-width: 1rem;
  &::after {
    content: '';
    border-bottom: 1px solid $white;
    width: 4rem;
    display: block;
    padding-top: 0.5rem;
  }
}
