@import '../../../styles/abstracts/variable.module';
@import '../../../styles/abstracts/mixins.module';

@font-face {
  font-family: 'Avenir';
  src: url('/assets/fonts/Avenir/Avenir-Regular.ttf');
}

.container {
  padding: 1rem 0 1rem 0;
  width: 100%;
  margin-top: 20px;

  .footerContainer {
    @include flex-between;
    @include align-center;
    padding: 1rem 0;

    .leftSideFooterContainer {
      @include flex-between;
      @include align-center;
      width: 52%;
    }

    .footerImageContainer {
      .footerImage {
        width: 4.75rem;
        height: 4.75rem;
      }
    }

    .footerListItem {
      @include flex-start;
      padding: 0;
      list-style-type: none;
      margin-bottom: 0;

      li:first-child {
        padding: 0 1rem 0 0;
      }

      li {
        padding: 0 1rem;
        @include font-sm-avenir-regular;
        color: $white;
      }

      .footerIconItem {
        @include flex-row-center;
        margin: 0 1rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        &:last-child {
          margin-right: 0;
        }
      }
      .footerBottomText {
        color: $black;
      }
    }
    .footerBottomText {
      margin-bottom: 0;
      color: rgba(0, 0, 0, 0.6);
      font-size: 0.875rem;
      font-weight: 500;
    }
  }
  @media only screen and (max-width: 1024px) {
    .leftSideFooterContainer {
      width: 100% !important;
      img {
        display: none;
      }
    }
  }
  @media only screen and (max-width: 768px) {
    .footerListItem {
      li:first-child {
        padding: 0 0.5rem 0 0 !important;
      }

      li {
        padding: 0 0.5rem !important;
      }
    }
  }
  @media only screen and (max-width: 576px) {
    .footerContainer {
      @include flex-row-center;
      width: 100%;
      .leftSideFooterContainer {
        display: none;
      }
    }
  }
}
