@import '../../../styles/abstracts/mixins.module';
@import '../../../styles/abstracts/variable.module';

.container {
  width: 100%;
  hr {
    border: 0px solid $gray;
    margin-bottom: 5rem;
    @media screen and (max-width: 1200px) {
      margin-bottom: 2.5rem;
    }
  }
}

.SwappingSuccessMain {
  padding-top: 150px;
  .Successin {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
    h1 {
      font-family: 'Neuropolitical';
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 110%;
      text-align: center;
      color: #ffffff;
      margin: 32px 0;
    }
    .succesBtnThree {
      display: flex;
      align-items: center;
      flex-direction: column;
      button {
        padding: 12px 0;
        width: 100%;
        background: transparent;
        border: none;
        box-shadow: none;
        outline: none;
        font-family: 'Neuropolitical';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 110%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
        transition: all 0.2s ease-out;
        &:hover {
          opacity: 0.5;
        }
        &:last-child {
          margin-bottom: 0;
        }
        > span {
          margin-right: 12px !important;
        }
      }
      .SuccesFrstBtn {
        border: 1px solid #1d9bf0;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        color: #1d9bf0;
      }
      .SuccesScndBtn {
        border: 1px solid #16e6ef;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        color: #16e6ef;
      }
      a {
        font-family: 'Neuropolitical';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 110%;
        text-align: center;
        color: #91a5a6;
        text-decoration: none;
        margin-top: 28px;
        transition: all 0.2s ease-out;
        &:hover {
          color: #16e6ef;
        }
      }
    }
  }
}
